<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body ng-app="myapp">

    <div class="container ">
        <div class="" ng-controller="myctrl1">
            <form action="">
                <div class="form-group">
                    <label for="">Ho va Ten:</label>
                    <input type="text" ng-model="student.fullname" class="form-control" placeholder="Nhap Ho Ten"
                        aria-describedby="helpId">

                </div>


                <div class="form-group">
                    <label for="">Ngay Sinh:</label>
                    <input type="text" ng-model="student.birthday" class="form-control" placeholder="Ngay Sinh"
                        aria-describedby="helpId">

                </div>


                <div class="form-group">
                    <label for="">Diem:</label>
                    <input type="number" ng-model="student.mark" class="form-control" placeholder="Diem"
                        aria-describedby="helpId">

                </div>


                <div class="form-group">
                    <button type="button" name="" id="" class="btn btn-primary " ng-click="save()">Luu</button>
                    <button type="button" name="" id="" class="btn btn-primary " ng-click="cancel()">Huy</button>
                </div>


            </form>

        </div>
        <div class="" ng-controller="myctrl2">
            <table class="table">
                <thead>
                    <tr>
                        <th>Ho Ten</th>
                        <th>Ngay Sinh</th>
                        <th>Diem</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">
                            {{students[0].fullname}}
                        </td>
                        <td> {{students[0].birthday}}</td>
                        <td> {{students[0].mark}}</td>
                        <td>
                            <a href="#" ng-click="edit(0)">Sua</a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>


    </div>

    <script>
        var app = angular.module("myapp", []);
        app.controller("myctrl1", function ($scope) {

            $scope.save = function () {
                $scope.$parent.students[$scope.$parent.index] = $scope.student;
            }
            $scope.cancel = function () {
                $scope.$parent.student = angular.copy($scope.$parent.students[$scope.$parent.index]);
            }

        });
        app.controller("myctrl2", function ($scope) {
            $scope.$parent.students = [
                {
                    fullname: "Nguyen Van Teo",
                    birthday: "20-01-1995",
                    mark: 8.5
                },
                {
                    fullname: "Pham Thi No",
                    birthday: "15-11-1985",
                    mark: 5.5
                }
            ];
            $scope.edit = function (index) {
                $scope.$parent.index = index;
                $scope.$parent.student = angular.copy($scope.$parent.students[index]);
            }
        });

    </script>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>